.asientos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Define 4 columnas */
  grid-auto-rows: 60px; /* Aumentada para dar espacio al nombre */
  gap: 10px; /* Espacio entre las celdas */
  padding-top: 25px; /* Espacio para los nombres que aparecen arriba */
}

.asiento-card {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  height: 40px;
  border: 1px solid #ccc;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.asiento-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pasillo {
  background-color: transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  grid-column: span 1;
}

.asiento {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  grid-column: span 1;
  height: 40px;
  position: relative;
}
